<!DOCTYPE html>
<html>
  <body>
    <h1>About MusicApp</h1>
    <p>
    <ul class="welstyle" align="center">
      <li> Do you love music? </li>
      <li> Do you follow the beauty in how words in songs relate to life or other wonderful creations? </li>
      <li> Do you want to sing a song but can't wait to write down the Lyric by hearing the songs over and over again? </li>
    </ul>
    <br>
    <p class="welstyle"> If the answer to any of the above questions is yes, then you are in the right place.</p> 
    <p class="welstyle"> We have a huge collection of Lyrics of a number of songs, which you can search through to get the words of your favourite song! </p>
    <br><br><br><br><br><br><br><br><br>
  </body>
</html>